* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: 10px;
    background: rgb(92,96,240);
    background: linear-gradient(90deg, rgba(92,96,240,1) 0%, rgba(99,177,233,1) 47%, rgba(25,217,246,1) 100%);
}

header h1 {
    color: white;
}

main {
    display: flex;
}

.search-section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    gap: 10px;
    width: 20%;
}

#history {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.weather-section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 20px;
    border: 2px solid black;
}

.five-day-container {
    display: flex;
    flex-direction: column;
}

.five-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 5px 5px 0px 0px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: rgb(32, 70, 104);
    color: white;
    padding: 10px 20px 10px 10px;
    gap: 15px;
}

.favorable {
    background-color: lime;
    padding: 3px 10px;
    border-radius: 5px;
}

.moderate {
    background-color: orange;
    padding: 3px 10px;
    border-radius: 5px;
}

.severe {
    background-color: red;
    padding: 3px 10px;
    border-radius: 5px;
}

.hide {
    display: none;
}