* {
    padding: 0px;
    margin: 0px;
    font-family: 'Poppins', sans-serif;
}

header {
    display: flex;
    justify-content: center;
    background-color: blue;
    padding: 10px;
}

header h1 {
    color: white;
}

main {
    display: flex;
}

.search-section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    padding: 5px;
    gap: 10px;
    width: 20%;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.weather-section {
    display: flex;
    flex-direction: column;
    margin: 5px;
    margin-bottom: 20px;
    padding: 10px;
    gap: 20px;
    border: 2px solid black;
}

.five-day-container {
    display: flex;
    flex-direction: column;
}

.card-container {
    display: flex;
}

.favorable {
    background-color: lime;
    padding: 3px 10px;
    border-radius: 5px;
}

.moderate {
    background-color: orange;
    padding: 3px 10px;
    border-radius: 5px;
}

.severe {
    background-color: red;
    padding: 3px 10px;
    border-radius: 5px;
}